<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>Debug</name>
    <faqlink>http://faq.phpshop.ru/page/debug.html</faqlink>
    <description>Отладочный модуль для разработчиков.</description>
    <category>develop</category>
    <adminmenu>
        <title>Debug</title>
        <capability>true</capability>
    </adminmenu>
</module>