<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.9</version>
    <name>Cart</name>
    <description>Модуль корзины покупок для приема заказов.</description>
    <category>sale,form</category>
    <adminmenu>
        <title>Cart</title>
        <capability>true</capability>
    </adminmenu>
</module>