<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Sape</name>
    <faqlink>http://faq.phpshop.ru/page/sape.html</faqlink>
    <description>Модуль вывода платных ссылок Sape.</description>
    <category>sale,develop</category>
    <adminmenu>
        <title>Sape</title>
        <capability>true</capability>
    </adminmenu>
</module>