<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Filemanager</name>
    <description>Модуль файлового менеджера.</description>
    <category>template,decorate</category>
     <adminmenu>
        <title>Файловый менеджер</title>
        <capability>true</capability>
    </adminmenu>
</module>