<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Snow</name>
    <faqlink>http://faq.phpshop.ru/page/snow.html</faqlink>
    <description>Модуль падающего снега.</description>
    <category>template,decorate</category>
     <adminmenu>
        <title>Снег</title>
        <capability>true</capability>
    </adminmenu>
</module>