<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.7</version>
    <name>Form Generator</name>
    <faqlink>http://faq.phpshop.ru/page/form-generator.html</faqlink>
    <description>Модуль создания форм.</description>
    <category>form</category>
    <adminmenu>
        <title>Формы</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Обзор форм</podmenu_name>
            <podmenu_action>dir.formgenerator</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Новая форма</podmenu_name>
            <podmenu_action>dir.formgenerator&amp;action=new</podmenu_action>
        </podmenu>
    </adminmenu>
</module>