<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>PrintForma</name>
    <description>Модуль печатной формы страницы.</description>
    <category>template,form</category>
    <adminmenu>
        <title>PrintForma</title>
        <capability>true</capability>
    </adminmenu>
</module>