<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.5</version>
    <name>Return Call</name>
    <faqlink>http://faq.phpshop.ru/page/return-call.html</faqlink>
    <description>Модуль обратного звонка.</description>
    <category>users</category>
    <adminmenu>
        <title>Обратный звонок</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Обзор заявок</podmenu_name>
            <podmenu_action>dir.returncall</podmenu_action>
        </podmenu>
    </adminmenu>
</module>