<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Seo Pult</name>
    <faqlink>http://faq.phpshop.ru/page/seopult.html</faqlink>
    <description>Модуль SEO-продвижения.</description>
    <category>seo</category>
    <adminmenu>
        <title>Seo Pult</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Пульт управления</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>dir.seopult</podmenu_action>
        </podmenu>
    </adminmenu>
</module>